.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 340px;
  height: 100%;
  background: white;
  border-left: 1px solid var(--border);
  padding: 20px;
  overflow-y: auto;
  z-index: 120;
  animation: slideIn 0.25s ease forwards;

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 18px;
  }

  .log-item {
    background: var(--light-gray);
    border-radius: 10px;
    padding: 12px 14px;
    margin-bottom: 12px;
    border-left: 5px solid var(--primary);

    p {
      font-weight: 600;
      color: var(--text-dark);
    }

    small {
      display: block;
      margin-top: 6px;
      color: #6b7280;
      font-size: 13px;
    }
  }
}


.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #444;
  padding: 4px;
  transition: 0.2s ease-in-out;
}

.close-btn:hover {
  color: var(--danger);
  transform: scale(1.2);
}

.no-history {
  text-align: center;
  margin-top: 20px;
  color: #777;
  font-size: 14px;
}


@keyframes slideIn {
  from {transform: translateX(100%);}
  to   {transform: translateX(0);}
}
